*
{
    box-sizing: border-box;
}

body
{
    background-color: #f7f3f1;
    font-family: 'Montserrat', sans-serif;
}

.main
{
    width: 90%;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 75px;
}

.firstStep,
.secondStep,
.thirdStep,
.fourthStep
{
    background-color: white;
    width: 100%;
    padding: 13px;
    border-radius: 8px;
    box-shadow: 0 -1px 10px rgba(0,0,0,0.1);
    margin-top: 15px;
}

label,
h2
{
    font-weight: 600;
    font-size: 0.8em;
    text-transform: uppercase;
}

.errorMessage
{
    color: #e94f4c;
    margin-top: 10px;
    text-transform: lowercase;
    font-weight: 200;
}

.date
{
    display: flex;
    width: 100%;
}

.date div
{
    width: 100%;
}

.date input
{
    -webkit-appearance: none;
    border: none;
    padding: 5px 0;
    border-bottom: 1px solid #a0a0a0;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8em;
    width: 100%;
    font-weight: 200;
}

#startDate
{
    width: 90%;
}

label[for=price]
{
    display: block;
    margin-top: 25px;
}

.value .errorMessage
{
    position: relative;
    top: -15px;
}

label[for=participationsNumber]
{
    display: block;
    margin-top: 10px;
}

.value span
{
    display: block;
    border-bottom: 1px solid #a0a0a0;
    padding: 5px 0;
    font-weight: 200;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
}

.value input
{
    font-weight: 200;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8em;
    width: 2.5em;
    position: relative;
    z-index: 2;
    background-color: transparent;
    border: none;
}

#euro
{
    position: relative;
    top: -24px;
    width: 100%;
    text-align: end;
    font-weight: 200;
    color: #a0a0a0;
    z-index: 1;
}

.participations span
{
    display: block;
    border-bottom: 1px solid #a0a0a0;
    padding: 5px 0;
    font-weight: 200;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
}

.participations input
{
    font-weight: 200;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8em;
    width: 2.5em;
    position: relative;
    z-index: 2;
    background-color: transparent;
    border: none;
}

.placement h2
{
    margin-bottom: 5px;
    margin-top: 25px;
}

.placement label
{
    font-weight: 200;
    text-transform: lowercase;
}

.placement input[type=radio   ]:not(old){
    width     : 2em;
    margin    : 0;
    padding   : 0;
    font-size : 1em;
    opacity   : 0;
}

.placement input[type=radio   ]:not(old) + label
{
    display      : inline-block;
    margin-left  : -3em;
    line-height  : 2.5em;
}

.placement input[type=radio   ]:not(old) + label > span{
    display          : inline-block;
    width            : 1em;
    height           : 1em;
    margin           : 0.25em 0.5em 0.7em 0.25em;
    border           : 0.0625em solid #e94f4c;
    border-radius    : 0.25em;
    vertical-align: bottom;
}

.placement input[type=radio   ]:not(old):checked + label > span
{
    background-color: #e94f4c;
}

button
{
    width: 100%;
    background-color: #e94f4c;
    height: 40px;
    border: none;
    border-radius: 25px;
    box-shadow: 0 -1px 10px rgba(0,0,0,0.1);
    color: white;
    font-size: 1em;
    text-transform: uppercase;
    margin-top: 25px;
}

/* Second Step */
.secondStep p
{
    font-size: 1em;
    font-weight: 200;
}

.heading
{
    display: flex;
    margin-bottom: 25px;
}

.heading p
{
    width: 100%;
}

#documentDate
{
    text-align: right;
}

.companyInfo
{
    font-size: 0.8rem;
    line-height: 0.9rem;
    margin-bottom: 25px;
}

h1
{
    text-align: center;
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: 600;
    margin-bottom: 25px;
}

.document h2
{
    color: #a0a0a0;
}

.document div
{
    display: flex;
    margin-bottom: 8px;
}


.product
{
    flex-grow: 8;
}

.price
{
    flex-basis: 50px;
}

.total
{
    border-top: 1px solid #a0a0a0;
    padding-top: 25px;
    margin-top: 17px;
}

#dueDate
{
    font-size: 0.8rem;
    margin-top: 25px;
}

.buttons
{
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}

.secondStep a
{
    display: block;
    width: 100%;
    background-color: #e94f4c;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    height: 40px;
    padding-top: 12px;
    text-align: center;
    border-radius: 20px;
}

#change
{
    margin-right: 15px;
}

.thirdStep input
{
    border: none;
    border-bottom: 1px solid #a0a0a0;
    width: 100%;
    padding: 5px 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8rem;
}

.thirdStep textarea
{
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8rem;
    border: none;
    border-bottom: 1px solid #a0a0a0;
    resize: none;
}

label[for=description]
{
    display: block;
    margin-top: 25px;
}

.fourthStep h2
{
    margin-bottom: 5px;
}

.fourthStep p
{
    font-size: 0.8rem;
    font-weight: 200;
    margin-bottom: 15px;
}

.dateAndPrice
{
    display: flex;
}

.dateAndPrice > div
{
    width: 100%;
}

#startDateBlock,
#endDateBlock
{
    display: flex;
}

#startDateBlock p,
#endDateBlock p
{
    margin-left: 5px;
}

#valueBlock
{
    display: flex;
}

#valueBlock p
{
    margin-left: 5px;
}

#placementBlock
{
    display: flex;
}

#placementBlock p
{
    margin-left: 5px;
}

.fourthStepTitle
{
    text-align: left;
    color: #484848;
    font-size: 1rem;
    margin-top: 25px;
    margin-left: 5px;
}

.fourthStep #placement,
.fourthStep #totalPrice
{
    margin-bottom: 0;
}

.fourthStep a
{
    display: block;
    width: 100%;
    background-color: #e94f4c;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    height: 40px;
    padding-top: 12px;
    text-align: center;
    border-radius: 20px;
    margin-top: 25px;
}





























